@import "../../node_modules/prismjs/themes/prism-tomorrow.css";

:root {
    --primary-color: #333333;
    --primary-variant-color: #7b7b7d;
    --on-primary-color: white;
    --secondary-color: #252526;
    --secondary-variant-color: #303031;
    --on-secondary-color: #c2c2c3;
    --background-color: #1e1e1e;
    --surface-color: #262626;
    --on-surface-color: #d1d1d1;
    --shadow-color: rgba(255, 255, 255, 0);
}