@import "../../node_modules/prismjs/themes/prism-tomorrow.css";

:root {
    --primary-color: #333333;
    --primary-variant-color: #7b7b7d;
    --on-primary-color: white;
    --secondary-color: #252526;
    --secondary-variant-color: #515151;
    --on-secondary-color: #f7f7f7;
    --background-color: black; 
    --surface-color: #1e1e1e;
    --on-surface-color: #eeeeee;
    --shadow-color: rgba(255, 255, 255, 0.15);
}