@import '~katex/dist/katex.min.css';
@import "~prismjs/themes/prism-tomorrow.css";

body {
    margin: 0;
}

/* TODO: Fix small window size scroll bug. That is, the side navigation is not sticky. */

#app > div {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 150px auto;
    grid-template-areas: "nav main";
}

nav {
    grid-area: nav;
    background-color: whitesmoke;
    overflow: auto;
}

main {
    grid-area: main;
    background-color: white;
    overflow: auto;
}