/**/
@import "~katex/dist/katex.min.css";
@import "~material-icons/iconfont/material-icons.css";
@import "~lato-font/css/lato-font.css";
@import "~typeface-roboto-mono/index.css";

:root {
    --font-main: 'Lato';
    --font-input: 'Roboto Mono';
    --font-code: 'Consolas';
    --titlebar-height: 32px;
    --navigation-width: 48px;
    --main-padding: 1rem 2rem;
    --sidebar-max-width: 250px;
    --card-min-width: 250px;
    --card-max-width: 400px;
    --cards-max-width: 1280px;
    --modal-max-width: 720px;

    --titlebar-color: white;
    --titlebar-highlight-color: #e6e6e6;
    --titlebar-text-color: black;

    --navigation-color: #333333;
    --navigation-highlight-color: white;
    --navigation-text-color: #7b7b7d;

    --sidebar-color: whitesmoke;
    --sidebar-highlight-color: #e6e6e6;
    --sidebar-text-color: #333333;

    --background-color: #98CDC6;
    --background-text-color: black;
    
    --surface-color: white;
    --surface-text-color: black;
    --shadow-color: rgba(0, 0, 0, 0.15);

    --button-color: none;
    --button-highlight-color: #e6e6e6;
    --button-active-color: #f1f1f1;
    --button-text-color: #181818;

    --input-border-color: #adadad;
    --input-focus-color: #848484;

    --scrollbar-color: #adadad;
    --scrollbar-highlight-color: #848484;

    --code-block-color: #f5f2f0;
    --code-block-text-color: black;
    --code-inline-color: #f5f2f0;
    --code-inline-text-color: black;
    --table-color: #dcdcdc;
    --link-color: black;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--font-main);
    color: var(--background-text-color);
    background-color: var(--background-color);
}

#app {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav sidebar main";
    grid-template-rows: var(--titlebar-height) 1fr;
    grid-template-columns: var(--navigation-width) auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    position: relative;
    background-color: var(--titlebar-color);
    -webkit-app-region: drag;
}

nav {
    grid-area: nav;
    overflow: hidden;
    background-color:#413D3D;;
}

main {
    grid-area: main;
    overflow: auto;
    padding: var(--main-padding);
    box-sizing: border-box;
}

aside {
    grid-area: sidebar;
    overflow: hidden;
    padding-top: 1rem;
    min-width: 150px;
    max-width: var(--sidebar-max-width);
    background-color: white;
}

.titlebar-resize {
    height: 5px;
    -webkit-app-region: no-drag;
}

.titlebar-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.titlebar-logo img {
    display: inline-block;
    width: 18px;
    margin: calc((var(--titlebar-height) - 18px) / 2) 12px;
}

.titlebar-logo label {
    color: var(--titlebar-text-color);
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0;
    opacity: 1;
}

.titlebar-buttons {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
}

a.titlebar:hover {
    background-color: var(--titlebar-highlight-color);
}

a.titlebar i.icon {
    color: var(--titlebar-text-color);
    font-size: 20px;
    padding: calc((var(--titlebar-height) - 20px) / 2) 0.9rem;
}

a.navigation i.icon {
    color: var(--navigation-text-color);
    font-size: 28px;
    padding: 10px;
}

a.navigation.active i.icon, a.navigation:hover i.icon {
    color: var(--navigation-highlight-color);
}

a.sidebar {
    padding: 0.25rem 0.75rem;
    color: var(--sidebar-text-color);
    text-decoration: none;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    font-family: Gill Sans, sans-serif;
    font-weight: bolder;
}

a.sidebar:hover, a.sidebar.active {
    background-color: var(--sidebar-highlight-color);
}

a.sidebar i.icon {
    font-size: 18px;
}

.topics-sidebar {
    overflow: hidden;
}

.topics-sidebar:hover {
    overflow: auto;
}

section {
    margin: 0.5rem 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--table-color);
    background-color: var(--surface-color);
}

table thead {
    background-color: var(--table-color);
}

thead th, tbody td {
    padding: 0.5rem;
    border: 1px solid var(--table-color);
}

input, select, textarea {
    border: 1px solid var(--input-border-color);
    color: var(--surface-text-color);
    background-color: var(--surface-color);
    font-family: var(--font-input);
    padding: 0.25rem;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--input-focus-color);
}

input:focus, select:focus, option:focus, textarea:focus, a:focus {
    outline: none;
}

input::placeholder {
    color: var(--surface-text-color);
    opacity: 0.5;
}

pre {
    background-color: var(--code-block-color);
    padding: 1rem;
}

pre code {
    color: var(--code-block-text-color);
    background-color: transparent;
    line-height: 1.5;
    tab-size: 4;
    padding: 0;
}

code, .katex-html {
    white-space: pre-wrap;
}

code {
    color: var(--code-inline-text-color);
    background-color: var(--code-inline-color);
    font-family: var(--font-code);
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
    opacity: 0.5;
}

hr { 
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, var(--surface-color), var(--surface-text-color), var(--surface-color));
    opacity: 0.25;
    margin: 1rem 0.5rem;
}

.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), var(--card-max-width)));
    width: 100%;
    max-width: var(--cards-max-width);
}

.card {
    padding: 1rem;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    overflow-wrap: break-word;
    min-width: var(--card-min-width);
    max-width: var(--card-max-width);
    color: var(--surface-text-color);
    background-color: var(--surface-color);
    padding: 10px 15px;
    font-size: 50px;
    font-family:Gill Sans, sans-serif;
    text-align:center;
    border: 5px solid #504D4D;
}

.card a {
    text-decoration: underline;
    color: var(--link-color);
}

.card-topic-name {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.1rem 0.5rem;
    font-weight: 400;
    font-size: 0.7rem;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(var(--card-min-width) - 20px);
}

.card-checkbox {
    position: absolute;
    top: 0;
    left: 0;
}

.card-textarea {
    width: var(--card-min-width);
    border-radius: 2px;
    resize: vertical;
}

.review-buttons a.button i.icon {
    font-size: 36px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: var(--surface-color);
    right: 0;
    z-index: 2;
}

.dropdown-menu a.button {
    font-size: 0.9rem;
}

.dropdown-menu a.button i.icon {
    font-size: 18px;
}

.dropdown.card-dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

a:hover {
    cursor: pointer;
}

a::selection, i::selection {
    user-select: none;
}

a.button {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 4px 6px;
    color: var(--button-text-color);
    background-color: var(--button-color);
}

a.button:hover, a.button:focus {
    background-color: var(--button-highlight-color);
}

a.button:active {
    background-color: var(--button-active-color);
}

a.button i.icon {
    font-size: 24px;
}

i.icon {
    vertical-align: sub;
}

h1.topic-name {
    padding: 0.25rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    background-color:white;
    border: 4px solid black;
}

h1.topic-name:hover {
    background-color: var(--button-highlight-color);
}

input.topic-name {
    border: none;
    font-family: var(--font-main);
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    box-sizing: border-box;
    background-color: var(--button-highlight-color);
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    border-radius: 1rem;
    padding: .2rem 2rem;
}

.input-container i.icon {
    color: var(--button-text-color);
    font-size: 18px;
    padding: .2rem .4rem;
}

.input-container .search-icon {
    user-select: none;
    position: absolute;
    left: 0;
}

.input-container .clear-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.empty-state {
    opacity: 0.2;
}

.empty-state i.icon {
    font-size: 4rem;
}

.modal-container {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    max-width: var(--modal-max-width);
    padding: 2rem;
    margin: 2rem;
    overflow: auto;
    background-color: var(--background-color);
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.row-center {
    justify-content: center;
}

.col-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-fixed > * {
    margin-right: 12px;
    margin-bottom: 12px;
}

.space-fixed > *:last-child {
    margin-right: 0;
}

.shadow {
    box-shadow: 0 0.25rem 1rem var(--shadow-color);
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-highlight-color);
}